/*
    Coast To Coast (T) Ltd 
    Custom stylesheet
    Developed by Navilindo AM
*/

/* custom colors */

:root {
    --forest-green: #478936ff;
    --olivine: #ABC296ff;
    --brunswick-green: #0C4C3Eff;
    --asparagus: #65943Dff;
}

/* body */
body, html {
    font-family: 'Poppins', sans-serif;
}

/* header */
#topLogo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--forest-green);
}

/* footer */

#footerLogo {
    height: 80px;
    width: auto;
}

#footerContent {
    /* background-color: var(--asparagus); */
    background-color: var(--olivine);
    color: var(--brunswick-green);
}

.footer-link {
    color: var(--brunswick-green);
    text-decoration: none;
}

.footer-link :hover {
    opacity: 50%;
}

#copyleft {
    background-color: var(--brunswick-green);
    color: var(--olivine);
}

.copyleft-link {
    color: var(--olivine);
    text-decoration: none;
}

/* Contact page */
#contactLogo {
    height: 150px;
    justify-content: center;
}