/*
    Coast To Coast (T) Ltd 
    Custom stylesheet
    Developed by Navilindo AM
*/

/* custom colors */

:root {
    --forest-green: #478936ff;
    --olivine: #ABC296ff;
    --brunswick-green: #0C4C3Eff;
    --asparagus: #65943Dff;
    --light: #f8f9fa;
}

/* body */
body, html {
    font-family: 'Poppins', sans-serif !important;
}

/* header */
#topLogo {
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--forest-green);
}

/* page title */
.page-title {
    color: var(--olivine);
}
/* footer */

#footerLogo {
    height: 80px;
    width: auto;
}

#footerContent {
    /* background-color: var(--asparagus); */
    background-color: var(--olivine);
    color: var(--brunswick-green);
}

.footer-link {
    color: var(--brunswick-green);
    text-decoration: none;
}

.footer-link :hover {
    opacity: 50%;
}

#copyleft {
    background-color: var(--brunswick-green);
    color: var(--olivine);
}

.copyleft-link {
    color: var(--olivine);
    text-decoration: none;
}

/* home page */

#jumbo {
    background-image: url('../images/imgs/tea-farm.webp');
    background-color: var(--brunswick-green);
    background-blend-mode: multiply;
    color: var(--olivine);
}

#prod {
    color: var(--asparagus);
}

.jumbo-icon {
    align-content: center;
    color: var(--asparagus);
}

.icon-square {
    background-color: var(--olivine);
    background-color: var(--light);
    opacity: 100%;
}

.home-icon {
    color: var(--olivine);
    opacity: 100%;
}

.feats {
    color: var(--asparagus);
}

/* Contact page */
#contactLogo {
    height: 150px;
    justify-content: center;
}

#infoContact {
    background-color: #f8f9fa;
    fill-opacity: 15%;
    border-top: var(--olivine) solid 3px;
    border-bottom: var(--olivine) solid 3px;
    color: var(--brunswick-green);
}

#contactForm {
    border-top: var(--olivine) solid 3px;
    border-bottom: var(--olivine) solid 3px;
}

/* About page */

.about-section-subtitle {
    color: var(--forest-green);
}

.page-subtitle {
    color: var(--asparagus);
}

#abtGlance, #abtValues, #contactSub {
    font-weight: 800;
}