/*
    Coast To Coast (T) Ltd 
    Custom stylesheet
    Developed by Navilindo AM
*/

/* custom colors */

:root {
    --forest-green: #478936ff;
    --olivine: #ABC296ff;
    --brunswick-green: #0C4C3Eff;
    --asparagus: #65943Dff;
}

/* body */

/* header */
#topLogo {
    height: 50px;
    width: auto;
}

/* footer */

#footerContent {
    background-color: var(--asparagus);
    color: var(--brunswick-green);
}

#copyleft {
    background-color: var(--brunswick-green);
    color: var(--olivine);
}